header{
    background-color: silver;

}
nav li{
    display: inline; /* cambia lista vertical a horizontal */
    margin: 0 0 0 20px; /* margen: superior 0, inferior 0, derecha 0, izquierda 20 */

}
nav a {
    text-transform: uppercase; /* pasa de minus a mayus   */
    color: black; /* texto negro  */
    font-weight: bold; /* cambia a negrita  */
    font-size: 22px; /* texto a 22 pixel */
    text-decoration: none; /* quita el subrayado del vinculo  */
}